<div class="row">
    <div class="col-lg-12">
        <h2>О проекте</h2>
        <hr/>
        <p>Это одностраничный сайт небольших <em>web browser realtime
            multiplayer</em> игр с интеграцией соц. сетей.</p>

        <h2>
           Technolody stack
        </h2>

        <ul>
            <li>
                <em>angularjs</em> для роутинга и как основной фреймворк для
                небольших singleplayer аркад.
            </li>
            <li>
                <em>django</em> + addons(django-rest-framework, etc.) как сервер
                для статических файлов, регистрации, логина, профайла
                пользователя и тому подобное. Предоставляет апи для игр:
                инфомация о пользователе; возможность добавления игры, после
                чего станет доступным обращение к апи этой игры
            </li>
            <li>
                <em>nodejs</em>, <em>tornado</em> или <em>c++ web server
                backend</em> для realtime multiplayer. Предоставляет апи для
                django сервера: для
                отображения сводных статистических данных и прочего.
            </li>
        </ul>

    </div>
</div>


