<footer class="container">
	<div class="row">
		<div class="col-md-1 col-md-offset-4">
			<!-- Put this div tag to the place, where the Like block will be -->
			<div id="vk_like"></div>
			<script>
				VK.Widgets.Like("vk_like", {type: "mini", height: 20});
			</script>
		</div>
		<div class="col-md-1">
			<iframe src="http://ghbtns.com/github-btn.html?user=koutoftimer&repo=koutoftimer.github.io&type=watch&count=true" 
				frameborder="0"></iframe>
		</div>
		<div class="col-md-1">
			<iframe src="http://ghbtns.com/github-btn.html?user=koutoftimer&repo=koutoftimer.github.io&type=fork&count=true" 
				frameborder="0"></iframe>
		</div>
	</div>
	<div class="row">
		
	</div>
</footer>